.card {
  border: $border-width solid $border-color--light;
  border-radius: $border-radius;
}

.card--header {
  border-bottom: $border-width solid $border-color--light;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background: $gray-50;
  padding: $gl-spacing-5 $gl-spacing-7;

  h1, h2 {
    padding: 0;
    border: 0;
    margin: 0;
  }
}

.card--body {
  padding: $gl-spacing-7;
}

.card--highlighted {
  background: $blue-50;
  border-color: $blue-200;
}

.card--link:hover {
  background: $blue-100;
}
