<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="typography md">
      <h1>Search</h1>
      <h2>Global search</h2>
      <p><a href="https://gitlab.com/search?group_id=&project_id=13083&repository_ref=&scope=issues&search=mobile" target="_blank">Global search</a> allows you to search across items in a project, or even across multiple projects. You can switch tabs to filter on type of object, or filter by group.</p>
      <h2>List search</h2>
      <p>There are several core lists in the GitLab experience, such as the Issue list and the Merge Request list. You are also able to filter and search these lists. <a href="/regions/filters">More information regarding filter.</a></p>
    </div>
  </div>
</template>
